<!DOCTYPE html>
<html>
  <head>

    {%extends 'bases.html'%}<!--import base.html file-->

  </head>
  <body>

{%block content%}
{% with messages = get_flashed_messages() %}
{% if messages %}
       {% for message in messages %}
       <li class="alert alert-primary">{{ message }}</li>
       {% endfor %}
   {% endif %}
   {% endwith %}
<h1>Sign In</h1>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="centre" class="form-group">
<form method="post" name="assessment">
{{ form.hidden_tag() }}
<p>Username: {{form.Username(class="form-control")}}</p>
<p>Password: {{form.Password(type="password",class="form-control")}}</p>
<p><input type="submit" class="design form-control" value="Submit"></p>
</form>
</div>


{%endblock%}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </body>
</html>
